name: backup to wayback

on:
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "latest"
      - name: Install Dependencie
        run: npm install hexo-generator-wayback
      - name: Backup Blogs
        run: npx hexo-generator-wayback $wayback
        env:
          wayback: https://wherewhere.github.io/wayback.csv
